header > *,
.breadcrumb,
.tabs,
.pane-outer-right,
.footer-region {
  display: none;
}
.wrapper[role=main],
.header,
.siteinfo {
  display: block;
}
.header {
  border: none;
}
#toolbar,
.contextual-links-wrapper,
.contextual-links-processed {
  display: none;
}
body {
  padding: 0;
}
